
body {
        background-color: #EAF6F6;
     }
hr   {
    border-style: none;
    border-top-style: dotted;
    border-color:grey;
    border-width: 5px;
    width:5%;
}
    
h1  {
    color: #66BFBF;
}
h2  {
    color: #66BFBF;
   
}


a:hover {
   
    background-color:goldenrod;   
}
#color-div{
  text-align: right;
  font-size:40px;
  background-color:#7ce354;

}

#contact-div{
  font-size:40px;
  text-align: left;
  margin-left: 30px;

  
}


#hobbies-div{
  font-size:90px;
}

.paragraph{
  font-size:40px;
  color: maroon;
}

#ul-div{
    text-align: left;
    
  }
  .new{
    font-size:50px;
    color: maroon;
  }

  #large-div{
    font-size:25px;
  }

 
  .nav-links{
    text-decoration: none;
    
  }
  .color-links{
    color: red;
    text-decoration: none;
  }

  marquee{

    background-color: red;
    color:white;
    font-size:30px ;
    padding-top:10px;
    padding-bottom:10px;
  }

#big-div{
font-size: 30px;
}

.color{
    color:indigo;
}

#about-us{
  font-size: 100px;
}

h4{
  color: maroon;
}

#input-el{
  background-color: blue;
  color: whitesmoke;
  font-size: 25px;
}

#element-div{
  font-size: 30px;
  color:maroon;
}

#footer-div{
  font-size: 30px;
}

/* Styles or Icons */
.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
  opacity: 0.6;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.small{
  font-size: 25px;
}

#small-div{
  font-size: 18px;
  margin-left: 20px;
}

#form-div{

  font-size: 20px;
}

.berger {
  font-size: 40px;
}

#aaya-div{
  margin-top: 20px;
  margin-left: 200px;
  font-size: 20px;
  background-color: blue;
  color: whitesmoke;
}

#contact-div{
  color: maroon;
}

#large-div{
  margin-left: 30px;
  font-size: 60px;
}





 





  

  










  

